@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Italianno&family=Noto+Serif+Thai:wght@100..900&display=swap");

:root {
    --primary-color: #023859;
    --cafee-color: #decda7;
    --white: #e0e0e0;
    --light-gray: #b8b7b7;
    --wlg: 80%;
    --wmd: 95%;
    --wsm: 98%;
}

* {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.logo {
    width: 7rem;
}

body {
    font-family: "Crimson Text", serif;
    background-color: var(--cafee-color);
}

button {
    padding: 0.5rem 1rem;
    background-color: var(--cafee-color);
    color: var(--primary-color);
    border: none;
    border-radius: 5rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: rgb(220, 201, 156);
}

.title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--primary-color);
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.167);
    padding-top: 5rem;
}

.eye {
    position: relative;
    width: 2.8rem;
    height: 3.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.pupil-container {
    background: linear-gradient(145deg, var(--primary-color) 0%, #1888ce);
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: transform 0.05s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pupil {
    background: rgb(45, 44, 44);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: start;
}

.pupil-light {
    width: 10px;
    height: 10px;
    background: #ffffff;
    border-radius: 50%;
}

/* ========================= NavBar ==================== */
.nav_Container {
    background-color: var(--primary-color);
    height: 6rem;
    border-radius: 0 0 1rem 1rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav .navBar_button {
    display: none;
    /* font-size: 5rem; */
    color: var(--white);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

nav .navBar_button .nbir {
    display: flex;
    gap: 0.2rem;
}

nav .navBar_button .nbir div {
    background-color: var(--cafee-color);
    border-radius: 0.2rem;
    height: 0.3rem;
    width: 1rem;
    transition: all 0.3s ease;
}

nav ul {
    display: flex;
    gap: 2rem;
    transition: color 0.3s ease;
}

nav ul li {
    list-style: none;
    cursor: pointer;
    transition: color 0.3s ease;
    border-radius: 1rem;
    overflow: hidden;

}

nav ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

nav ul li a:hover {
    color: var(--cafee-color);
}

nav button {}



/* ========================= Header Section ==================== */
.header_Container {
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 0 0 1rem 1rem;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px 0.5rem rgba(0, 0, 0, 0.139);
}

.header_Container::before {
    content: "";
    position: absolute;
    left: -100%;
    width: 100%;
    height: 5rem;
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0));
    transform: rotate(130deg);
    animation: shine 2s;
    animation-delay: 5s;
    z-index: 2;
    pointer-events: none;
}

.header_Container .name {
    color: var(--cafee-color);
    font-size: 3rem;
}

.Front-end {
    color: var(--white);
    font-size: 7rem;
    position: relative;
}

.Front-end span {
    position: absolute;
    top: 4.2rem;
    right: 0.6rem;

}

.developer {
    color: var(--cafee-color);
    font-size: 7rem;
    position: relative;
}

.developer span {
    position: absolute;
    top: 4.2rem;
    left: 0.1rem;
    animation: slide 3s infinite;
}

.header_Container button {
    font-size: 1.5rem;
    padding: 0.7rem 2rem;
    transition: all 0.3s ease;
}

.header_Container button:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.137);
    translate: 0 -3px;
}

/* ========================= AboutMe ==================== */
.about_Container {
    width: var(--wlg);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.aboutSections {
    /* background-color: red; */
    width: 100%;
    padding: 2rem 0;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "education experience"
        "technicalSkills technicalSkills";
}

.aboutSections section {
    background-color: var(--primary-color);
    border-radius: 1rem;
    padding: 1.5rem;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 1px 10px 0.2rem rgba(0, 0, 0, 0.126);
    height: 11rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;

}

.aboutSections section:hover {
    box-shadow: 0 8px 20px 0.2rem rgba(0, 0, 0, 0.219);
    transform: translateY(-5px);
}

.aboutSections section h2 {
    color: var(--white);
    font-size: 1.8rem;
}

.aboutSections section p {
    color: var(--light-gray);
    line-height: 1.6rem;
    font-size: .96rem;
}

.Education {

    grid-area: education;
}

.Experience {
    grid-area: experience;
}

.TechnicalSkills {
    grid-area: technicalSkills;
}

/* ========================= Skills ==================== */
.skills-section {
    width: 70%;
    margin: 0 auto;
    padding-top: 2rem;
}

.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: var(--primary-color);
}

.skill-name {
    width: 100%;
    text-align: center;
}

/* ========================= Projects ==================== */
#projects {
    padding-top: 2rem;
}

.projects_Container {
    background-color: var(--primary-color);
    height: 25rem;
    display: flex;
    align-items: center;
    margin: 10rem 0;
}

.projectsCardsContainer {
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.projectsCardsContainer .project {
    background-color: var(--cafee-color);
    width: 26rem;
    height: 26rem;
    border-radius: 2rem;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.135);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease;
}

.projectsCardsContainer .project .project_details {
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    position: absolute;
    top: -30rem;
    transition: all 0.5s ease;

}

#visible {
    top: 0rem;
}

.projectsCardsContainer .project span {
    position: absolute;
    top: 2rem;
    right: 0rem;
    transform: translate(-50%, -50%);
    color: var(--primary-color);
    font-size: 1.5rem;
    z-index: 2;
    background-color: var(--cafee-color);
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.projectsCardsContainer .project .project_details img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
    /* opacity:0.9 ; */
}

.projectsCardsContainer .project .project_details button {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 90%;
    box-shadow: 0 5px 15px 0.5rem rgba(5, 5, 5, 0.226);
}

.projectsCardsContainer .project .project_name {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-top: 1rem;
}

.projectsCardsContainer .project .project_desc {
    padding: 0 1.2rem;
    color: var(--primary-color);
    font-size: 1.1rem;
    line-height: 2rem;
    text-align: justify;

}

.projectsCardsContainer .methaq {
    margin-bottom: 15rem;

}

.projectsCardsContainer .quizify {
    margin-top: 15rem;

}

/* ========================= Contact ==================== */
form {
    width: 90%;
    margin: 0 auto;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

input,
textarea {
    width: 100%;
    padding: 0.8rem 1rem;
    border: 4px solid var(--primary-color);
    border-radius: 1rem;
    font-size: 1rem;
    font-family: "Crimson Text", serif;
    resize: vertical;
    background-color: transparent;
}

input:focus,
textarea:focus {}

textarea {
    min-height: 8rem;
}

form button {
    width: 30%;
    align-self: center;
    padding: 0.7rem 1.5rem;
    border: 4px solid var(--primary-color);
    box-shadow: 0 5px 15px 0.5rem rgba(5, 5, 5, 0.105);
    color: var(--primary-color);
    border-radius: 1rem;
    transition: all 0.3s ease;
}

form button:hover {
    background-color: rgb(3, 65, 103);
    scale: 1.05;
    color: var(--cafee-color);

}

/* ========================= Footer ==================== */
.footer_Container {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--cafee-color);
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
    margin-top: 5rem;
}

.footer_Container p {
    border-top: solid 1px var(--light-gray);
    padding-top: 2rem;
    margin: 1rem;
    color: var(--light-gray);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

footer .links,
footer .contacts {
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

footer .links a,
footer .contacts a {
    color: var(--cafee-color);
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

footer .links a:hover {
    color: var(--white);
}

footer .contacts a {
    background-color: var(--cafee-color);
    color: var(--primary-color);
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/* ========================= Media Queries ==================== */
/*medium and small screen*/
@media screen and (max-width: 950px) {
    body {
        /* background-color: red; */
    }

    /* ======NavBar========= */
    nav button {
        display: none;
    }

    nav .navBar_button {
        display: flex;
    }

    nav ul {
        gap: 1rem;
        background-color: #0238597a;
        position: absolute;
        top: 6rem;
        width: 90%;
        margin: 0 auto;
        right: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        border-radius: 1rem;
        overflow: hidden;
        z-index: 0;
        backdrop-filter: blur(20px);
        border-top: none;
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.073);
        padding: 0rem;
        height: 0;
        transition: all 1s ease;
    }

    nav .ul_active {
        height: auto;
        padding: 1rem;
    }

    nav ul li {
        width: 100%;
        text-align: center;
        transition: all 0.3s ease;
        border-radius: 1rem;

    }

    nav ul li:hover {
        background-color: var(--cafee-color);
    }

    nav ul li a {
        text-decoration: none;
        color: var(--white);
        font-size: 1.2rem;
    }

    nav ul li:hover a {
        color: var(--primary-color);
    }

    /* ======Header========= */
    .header_Container {
        height: 30rem;
    }

    /* ======Eye========= */
    .eye {
        width: 1.8rem;
        height: 2.3rem;
    }

    .pupil-container {
        width: 15px;
        height: 15px;
    }

    .pupil {
        width: 10px;
        height: 10px;
    }

    .pupil-light {
        width: 5px;
        height: 5px;

    }

    .Front-end {
        font-size: 4.5rem;
    }

    .Front-end span {
        top: 2.7rem;
        right: 0.34rem;
    }

    .developer {
        font-size: 4.5rem;
    }

    .developer span {
        top: 2.7rem;
        left: 0.1rem;
    }

    /*aboutme*/
    .aboutSections {
        gap: 0.5rem;
    }

    .about_Container {
        width: var(--wmd);
    }

    /*skills*/
    .skills-section {
        width: 90%;
    }

    /*projects*/
    .projects_Container {
        height: 20rem;
    }

    .projectsCardsContainer .project {
        width: 18rem;
        height: 18rem;
        gap: 1rem;
    }

    .projectsCardsContainer .methaq {
        margin-bottom: 8rem;
    }

    .projectsCardsContainer .quizify {
        margin-top: 8rem;
    }

    .projectsCardsContainer .project .project_name {
        font-size: 1.2rem;
    }

    .projectsCardsContainer .project .project_desc {
        font-size: 1rem;
        line-height: 1.4rem;
    }
}

/*mobile screen*/

@media screen and (max-width: 600px) {
    body {
        /* background-color: yellow; */
    }

    .about_Container {
        width: var(--wsm);
    }

    /*nav*/
    .nav_Container {
        padding: 2rem 1rem;
    }

    nav ul {
        width: 100%;
    }

    /* ======Header========= */
    .header_Container {
        height: 25rem;
    }

    .header_Container .name {
        font-size: 1.8rem;
    }

    .Front-end,
    .developer {
        font-size: 2.4rem;
    }

    .Front-end span {
        top: 1.4rem;
        right: 0.2rem;
    }


    .developer span {
        top: 1.4rem;
        left: 0.03rem;
    }

    .header_Container button {
        font-size: 1.3rem;
        padding: 0.5rem 1.5rem;
    }

    /*Eye*/
    .eye {
        width: 1rem;
        height: 1.2rem;
    }

    .pupil-container {
        width: 10px;
        height: 10px;
    }

    .pupil {
        width: 7px;
        height: 7px;
    }

    .pupil-light {
        width: 3px;
        height: 3px;

    }


    /*aboutme*/
    .aboutSections {
        grid-template-columns: 1fr;
        grid-template-areas:
            "education"
            "experience"
            "technicalSkills";
    }

    .aboutSections section {
        height: 13rem;
    }

    /*skills*/
    .skills-section {
        width: 100%;
    }

    /*projects*/
    .projectsCardsContainer {
        flex-direction: column;
        gap: 1.5rem;
    }

    .projectsCardsContainer .project {
        width: 21rem;
    }

    .projectsCardsContainer .methaq {
        margin-bottom: 0rem;
    }

    .projectsCardsContainer .quizify {
        margin-top: 0rem;

    }

    /*contact*/
    form {
        width: 100%;
        max-width: 100%;

    }
}

@keyframes shine {
    0% {
        /* transform: rotate(130deg) translateY(-200%); */
        opacity: 0;
        left: -100%;
    }

    50% {
        /* transform: rotate(130deg) translateY(100%); */
        opacity: 0.2;
        left: 0;
    }

    60% {
        /* transform: rotate(130deg) translateY(120%); */
        opacity: 0.4;
        left: 100%;
    }

    80% {
        /* transform: rotate(130deg) translateY(200%); */
        opacity: 0;
        left: -100%;
    }

    100% {
        /* transform: rotate(130deg) translateY(200%); */
        opacity: 0;
    }
}